* {
  box-sizing: border-box;
}
.home-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 83px);
  flex-direction: column;
  flex: 1;
}

.action-wrap {
  display: flex;
  /* height: calc(100vh - 67px); */
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.action-title {
  border: 1px solid red;
  width: 100%;
}

.card-wrap {
  /* max-height: 80px; */
}

.icon-wrap {
  max-height: 80px;
}
.icon-wrap img {
  max-width: 64.66px;
  height: 80px;
}

.card-container {
  max-width: 392px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 104px 32px;
  border: 1px solid #c1cbd9;
  border-radius: 3px;
  background: #ffffff;
  margin-right: 16px;
}

.card-wrap :hover {
  background: #edf2f7;
}

.card-title {
  width: 100%;
  text-align: center;
  line-height: 28px;
  font-size: 20px;
  color: #353d45;
  padding: 42px 32px 16px 32px;
  font-weight: 300;
}

.card-title {
}

.card-content {
  font-size: 20px;
  text-align: center;
  color: #828d9e;
  letter-spacing: 1px;
  /* border: 1px solid red; */
  /* padding: 5px; */
  line-height: 28px;
}

.action-title-wrap {
  font-size: 32px;
  line-height: 48px;
  color: #353d45;
  margin-bottom: 48px;
  font-weight: 200;
}
