.drawer-wrap {
  background: #262e36;
  transition: 300ms ease all;
  display: flex;
  width: 280px;
  overflow: hidden;
}

.open-drawer {
  /* width: 280px; */
}
.close-drawer {
  width: 64px;
  /* overflow: hidden; */
}

.drawer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.top {
  display: flex;
  width: 280px;
}
.drawer-list {
  width: 100%;
}

.drawer-list a {
  text-decoration: none;
}

.drawer-list-item {
}

.lsit-item-wrap {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding: 24px;
}

.drawer-list-item a {
  text-decoration: none;
}

.lsit-item-wrap:hover {
  background: #0050f2;
}

.list-item-title {
  margin-left: 24px;
}

.arrow-wrap {
  margin: 0 0 27px 27px;
}
.arrow-wrap img {
  transition: 300ms ease-in-out all;
  cursor: pointer;
}

.rotate-icon img {
  transform: rotate(180deg);
}

.active-drawer-link {
  background: #0050f2;
}
